*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    width: 100vw;
}

#main{
   
}

#title{
    background-color: rgb(210, 2, 34);
    height: 150px;
    
}

#title h1{
    color: white;
    padding: 50px 0 50px;
    text-align: center;
    margin: 0;
    font-size: 45px;
    
}