*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
}

#title{
    background-color: rgb(210, 2, 34); 
}

#title h1{
    color: white;
    text-align: center;
    margin: auto;
    padding: 100px 0;
    font-size: 60px; 
}

#image{
    display: block;
    margin: auto;  
}